<div class="row product-details" *ngIf="productDetails">
    <div class="col-sm-6">
        <img class="product-image" src="{{productDetails.image}}" alt="">
    </div>
    <div class="col-sm-6">
        <div class="details">
            <h1>{{productDetails.name}}</h1>
            <h3>Price:{{productDetails.price}}</h3>
            <div>
                color:
                <h5 [style.backgroundColor]="productDetails.color" class="product-color"></h5>
            </div>
            <h6>Category {{productDetails.category}}</h6>
            <h6>description {{productDetails.desc}}</h6>
            <button class="form-button">Add to Cart</button>
            <button class="form-button">Buy Now</button>
            <div class="quantity-group">
                <button (click)="handleQuantity('plus')">+</button>
                <input type="text" value="{{productQuantity}}">
                <button (click)="handleQuantity('min')">-</button>
            </div>
        </div>
    </div>
</div>