.user-auth h1{
    margin-bottom: 50px;
    margin-top: 80px;
    color: blueviolet;
    text-align: center;
}
.user-auth{
    margin-bottom: 100px;
}
.auth-toggle-link{
    margin-top: 20px;
    text-decoration: none;
    color: blueviolet;
    font-size: 14px;
    text-align: left;
    cursor: pointer;
}
