<div class="update-product">
  <h1>Update Product</h1>
  <p class="message-p">{{ productMessage }}</p>
  <form
    class="common-form"
    #addProduct="ngForm"
    (ngSubmit)="submit(addProduct.value)"
  >
    <input
      ngModel="{{ productData?.name }}"
      name="name"
      class="form-input"
      type="text"
      placeholder="Product Name"
    />
    <input
      ngModel="{{ productData?.price }}"
      name="price"
      class="form-input"
      type="text"
      placeholder="Product Price"
    />
    <input
      ngModel="{{ productData?.color }}"
      name="color"
      class="form-input"
      type="text"
      placeholder="Product Color"
    />
    <textarea
      ngModel="{{ productData?.desc }}"
      name="desc"
      class="form-input-text"
      type="text"
      placeholder="Product Description"
    ></textarea>
    <input
      ngModel="{{ productData?.category }}"
      name="category"
      class="form-input"
      type="text"
      placeholder="Product Category"
    />
    <input
      ngModel="{{ productData?.image }}"
      name="image"
      class="form-input"
      type="text"
      placeholder="Product Image Url"
    />
    <button class="form-button">Update Product</button>
  </form>
</div>
